<h2>Log ESP:</h2> 
<br>
<a href="/esp/log"><button type="button" class="btn btn-success mt-2">Atualizar página</button> </a>

<div class="btn-group dropright">
  <button class="btn btn-primary dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Organizar por...
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Nome</a>
    <a class="dropdown-item" href="#">Acesso</a>
    <a class="dropdown-item" href="#">Hora servidor</a>
    <a class="dropdown-item" href="#">Hora ESP</a>
     <a class="dropdown-item" href="#">N° Banco</a>
  </div>
</div>       
<table class="table table-bordered table-striped mt-2">
    <tr>
        <th class="text-center">
            Nome<br>
        </th>
        <th class="text-center">
            Acesso<br>
        </th>
        <th class="text-center">
            ESP (Hora|Data)<br>

        </th>
        <th class="text-center">
            Nº Banco<br>
        </th>
        <th class="text-center">
            TagRFID<br>
        </th>
        <th class="text-center">
            Servidor (Hora|Data) <br>
        </th>
    </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <th class="text-center" scope="row">{{nome}}</th>
            <td class="text-center">{{aute}}</td>
            <td class="text-center">{{tempo}}</td>
            <td class="text-center">{{id}}</td>
            <td class="text-center">{{numero}}</td>
            <td class="text-center">{{dt}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/esp/log/delete"><button class="btn btn-danger mt-2">Deletar todos os logs</button></a>