<h2>Log ESP:</h2>
<hr>
<ul class="list-group">
{{#each posts}}
<li class="list-group-item ">
<h1>{{id}} -) {{nome}}</h1> 

<h4>Acesso: {{aute}}</h4>
<h4>Hora Registrada pelo Esp={{tempo}}</h4>
<h6> ID ={{numero}} </h6>
<h6> Hora de chagada no servidor={{dt}}</h6> 
</li>

{{/each}}
</ul>