<h2>Log ESP:</h2>
<hr>
<ul class="list-group">
{{#each posts}}
<li class="list-group-item ">
<h1>{{id}} -) {{nome}}</h1> 
<h4> ID ={{numero}} </h4>
<h4>Acesso:{{aute}}</h4>
<h4>Hora Registrada pelo Esp={{tempo}}</h4>
<output id="date" type="date" value={{dt}}>
<h6>{{dt}}</h6> 
</li>

{{/each}}
</ul>